{% extends 'base.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
<h1>Ваша корзина</h1>

{% if cart %}
    <table class="table">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Итого</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for object in cart %}
            <tr>
                <td>{{ object.product.title }}</td>
                <td>{{ object.quantity }}</td>
                <td>{{ object.price }} руб.</td>
                <td>{{ object.total_price }} руб.</td>
                <td>
                    <form method="post" action="{% url 'cart:cart_add' object.product.slug %}">
                        {% csrf_token %}
                        <input type="number" name="quantity" value="{{ object.quantity }}" placeholder="Новое количество" class="form-control mr-2" style="width: 90px;" min="1">
                        <input type="hidden" name="override_quantity" value="True">
                        <button type="submit" class="btn btn-success">Обновить</button>
                    </form>
                    <form method="post" action="{% url 'cart:cart_remove' object.product.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить все</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><strong>Общая сумма:</strong> {{ cart.get_total_price }} руб.</p>
    <a href="#" class="btn btn-success">Оформить заказ</a>
    <a href="{% url 'catalog' %}" class="btn btn-secondary">Продолжить покупки</a>
{% else %}
    <p>Ваша корзина пуста!</p>
    <a href="{% url 'catalog' %}" class="btn btn-primary">Смотреть каталог</a>
{% endif %}
{% endblock %}